#
# File:    ./MANIFEST.in
# Author:  Jiří Kučera <sanczes AT gmail.com>
# Date:    2024-11-06 01:58:57 +0100
# Project: abcdoc: Tools for generating a documentation
# Brief:   What extra should or should not be packaged
#
# SPDX-License-Identifier: MIT
#

include *.md
include tox.ini
recursive-include docs *.inc
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.css
recursive-include src *.html
recursive-include src *.pyi
recursive-include src py.typed
recursive-include src *.toml
graft tests
